*{ margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.Logo{
    
    width: 150px;
}
.imagendelogo{
    width: 100%;
}
li{

background-color: rgb(194, 189, 199);
margin: 5px;
padding: 20px;
height: 50px;

}


a{
    text-decoration: none;

    
}
header{
    background-color:rgb(0, 0, 0);
}
ul{
    display:flex ;
    justify-content:end;
    list-style: none;
}
nav{

    padding: 20px;
display: flex;
justify-content: space-between;
align-items: center;

}
h3{
    font-size: 30px;
}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}
li:hover{
    background-color: rgb(123, 123, 218);
    transition-duration: 0.3s;
    transform: scale(0.9);
}
h2{
text-align: center;

}
.experiencia{
width: 100%;
}
.ropa{

    display: flex;
    flex-direction:row;
    margin: 60px;
    gap: 10px;

}
.cuotas{
 width: 100%;
}
.modelo{
    width: 100%;
}
@media(width<600px){
    ul{
    flex-direction: column;
    }
    }